//
.box:nth-child(odd) {
    background-color: lightgrey;
}
.box:nth-child(even) {
    background-color: lightyellow;
}
.emps,
.tasks {
    padding: 1.4rem 0;
    margin-top: 2rem;
    height: 70vh;
    overflow-y: auto;
}

.box {
    padding: 0.5rem 1rem;
    position: relative;

    .close {
        position: absolute;
        top: 0.5;
        right: 0.5rem;
    }
}
