.emps > ul > li:nth-child(odd),
.tasks > ul > li:nth-child(odd) {
  background-color: lightgrey;
}

.emps > ul > li:nth-child(even),
.tasks > ul > li:nth-child(even) {
  background-color: lightyellow;
}

.emps,
.tasks {
  margin-top: 3rem;
  height: 70vh;
  overflow-y: auto;
}

